<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you <%= @user.name %> for booking with Flight Booker.</h1>
    <p>
      You have successfully booked your flight.
    </p>
    <p>Thanks for booking with us and enjoy the flight!</p>
  </body>
</html>