<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you <%= user.name %> for booking with <a href='https://powerful-wildwood-98145.herokuapp.com/'>Flight Booker</a>.</h1>
    <p>
      You have successfully booked your flight.
    </p>
    <p>Thanks for booking with us and enjoy the flight!</p>
  </body>
</html>